@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: "Archivo Black", sans-serif;

}

p {
  font-family: "Poppins", sans-serif;
}

body{
    background-color: #EEEEEE;
}

* {
    margin: 0%;
    left: 0%;
}

h1, h3, p {
    margin: 2px;
    text-align: auto;
    padding: 4px;

}

.cabecalho{
    display: flex;
    align-items: center;
}

.container {
    display: block;
    align-items: center;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid #134B70;
}

.div class {
    font-size:24px;
font-family: sans-serif;
}

.h1 {
    font-size: 24px;
    font-family: "Archivo Black", sans-serif; 
}

.p {
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
}

.topnav {
   background-color: #134B70;
   overflow: hidden;
   text-align: center;
 }

.topnav a {
    float: none;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #ddd;
    color: #134B70;
}

.topnav a.active {
    background-color:#134B70;
    color: white;
}

.rodape{
    background-color: #134B70;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: #508C9B;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
.rodape-div{
     padding: 60px 0px 40px 0px;
}

form {
    background: #508C9B;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    padding: 20px;
}

input,textarea, button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 2px;
    color: #777;
    font-size: 18px;
    outline: none;
    padding: 5px;
    width: 100%;
}

button{
    cursor: pointer;
    font-weight: bold;
}

.backtxt {
    color: #050c9c;
    padding: 5px 10px;
    text-align: center;
}

.conteudo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(220, 220, 220, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.conteudo .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8vh;
    color: #134B70;
    pointer-events: none;
}

.conteudo .card .content p{
    font-size: 1vw;
    color: #134B70;
    font-weight: 300;
}

.conteudo .a {
    display: flex;
    align-items: center;
   

}









